	{
		"extends": [
			"airbnb",
			"eslint:recommended",
			"plugin:react/recommended",
			"plugin:import/errors",
			"plugin:react/recommended",
			"plugin:import/errors",
			"plugin:import/warnings",
			"plugin:react-hooks/recommended"
		],
		"plugins": ["react"],
		"env": {
			"mocha": true,
			"browser": true
		},
		"rules": {
			"comma-dangle": 0,
			"max-classes-per-file": [0],
			"jsx-a11y/href-no-hash": [0],
			"jsx-a11y/img-redundant-alt": [0],
			"jsx-a11y/alt-text": [0],
			"complexity": [0],
			"handle-callback-err": [2],
			"import/default": [0],
			"import/order": [0],
			"max-statements": ["error", 30],
			"no-console": [0],
			"no-constant-condition": [2],
			"no-process-exit": [2],
			"no-useless-call": [2],
			"react/no-danger": [0],
			"react/jsx-indent-props": [0],
			"react/jsx-filename-extension": [0, {"extensions": [".jsx"]}],
			"react/jsx-indent": [0],
			"react/jsx-tag-spacing": ["error", { "beforeSelfClosing": "always" }],
			"react/jsx-sort-props": ["error", {"ignoreCase": false, "noSortAlphabetically": false}],
			"react/prefer-stateless-function": [0, { "ignorePureComponents": true }],
			"react/no-multi-comp": [0, { "ignoreStateless": true }],
			"react/require-optimization": [0],
			"react/prop-types": [0],
			"react/no-array-index-key": [0],
			"react/no-string-refs": [0],
			"react/jsx-props-no-spreading": [0],
			"react/jsx-one-expression-per-line": [0],
			"semi": ["error", "always"],
			"react/display-name": [0],
			"import/no-extraneous-dependencies": [0],
			"react/destructuring-assignment": [0],
			"react/jsx-closing-bracket-location": [1, "after-props"],
			"jsx-one-expression-per-line": [0],
			"import/extensions": [0],
			"import/no-unresolved": [0],
			"no-multiple-empty-lines": [0],
			"one-var": [0],
			"max-len": ["error", { "code": 150 }],
			"implicit-arrow-linebreak": [0],
			"no-shadow": [0],
			"function-paren-newline": [0],
			"no-tabs": [0],
			"indent": [1, "tab"],
			"no-use-before-define": [0],
			"no-nested-ternary": [1],
			"no-restricted-syntax": [1],
			"no-plusplus": [1],
			"react/no-find-dom-node": [1],
			"ts-ignore": [0],
			"no-string-refs": [0],
			"no-new": [0],
			"no-trailing-spaces": [0],
			"no-underscore-dangle": [0],
			"no-mixed-operators": [0],
			"consistent-return": [0],
			"object-curly-newline": [1],
			"import/prefer-default-export": [0],
			"prefer-destructuring": [0],
			"operator-linebreak": [0],
			"camelcase": [0],
			"no-param-reassign": [0],
			"no-unused-labels": [0],
			"no-labels": [0],
			"no-label-var": [0],
			"no-unused-expressions": [0],
            "import/newline-after-import": [0],
            "eslint-disable-next-line": [0],
            "no-return-await": [0],
            "no-undef": [0],
            "space-infix-ops": [0]
		}
	}
